:root {
    --fabled: #ffe91f;
    --loric: #4fda66;
    --townsfolk: #1f65ff;
    --outsider: #46d5ff;
    --minion: #ff6900;
    --demon: #ce0100;
    --traveler: #cc04ff;
    --default: #4e4e4e;
}
